* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-image: url("../images/background.jpg");
  height: 1300px;
  background-size: 100%;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.logo {
  margin: 10px 0 0 20px;
  color: white;
  font-size: 35px;
  font-weight: 800;
}

.menu ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  list-style-type: none;
  margin: 20px 20px 0 0px;
}

.menu ul a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 20px;
}

.search__box {
  width: 430px;
  background-color: white;
  display: inline-block;
  padding: 20px 30px;
  position: relative;
  top: 50px;
  left: 50px;
  border-radius: 6px;
  box-shadow: 0 3px 3px 0 rgb(214, 214, 214);
}

.search__title {
  padding: 10px 0;
  font-size: 30px;
  font-weight: 800;
  color: rgb(75, 75, 75);
}

table {
  width: 100%;
}

.search__sub__title {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.search__input {
  height: 45px;
  width: 100%;
  color: rgb(100, 98, 98);
  font-size: 15px;
  border: 1px solid rgb(230, 227, 227);
}

.search__button {
  display: grid;
  justify-content: end;
  padding: 20px 0;
}

.search__button button {
  background-color: #ff385c;
  color: white;
  width: 70px;
  height: 45px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}

.sec__title {
  font-size: 25px;
  font-weight: 800;
  color: rgb(66, 66, 66);
  margin-bottom: 10px;
}

main {
  margin: 30px 80px; /*세로 가로*/
}

section {
  margin: 30px 0;
}

.card__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.card__img {
  background-image: url("../images/card1.jpg");
  height: 70px;
  background-size: 100% 100%;
}

.card__img1 {
  background-image: url("../images/card2.jpg");
  height: 70px;
  background-size: 100% 100%;
}

.card__img2 {
  background-image: url("../images/card3.jpg");
  height: 70px;
  background-size: 100% 100%;
}

.card__img3 {
  background-image: url("../images/card4.jpg");
  height: 70px;
  background-size: 100% 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 6px;
  box-shadow: 0 5px 5px 0 rgb(170, 170, 170);
}

.card__content {
  display: grid;
  align-items: center;
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
}

.ad1 {
  background-image: url("../images/ad1.jpg");
  height: 450px;
  background-size: 100% 100%;
  border-radius: 20px;
}

.choo__img1 .text {
  position: absolute;
  color: white;
  top: 170px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.choo__img2 .text {
  position: absolute;
  color: white;
  top: 170px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.choo__img3 .text {
  position: absolute;
  color: white;
  top: 170px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.choo__img4 .text {
  position: absolute;
  color: white;
  top: 170px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.choo__img5 .text {
  position: absolute;
  color: white;
  top: 170px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.choo__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.choo__img1 {
  position: relative;
  color: white;
}

.choo__img2 {
  position: relative;
  color: white;
}

.choo__img3 {
  position: relative;
  color: white;
}

.choo__img4 {
  position: relative;
  color: white;
}

.choo__img5 {
  position: relative;
  color: white;
}

/* .ad2 .button1 {
  position: absolute;
  top: 10px;
  left: 20px;
} */

.house__img {
  height: 100%;
  width: 100%;
}

.home__img1 {
  background-image: url("../images/home1.png");
  height: 180px;
  background-size: 100% 100%;
}

.home__img2 {
  background-image: url("../images/home2.png");
  height: 180px;
  background-size: 100% 100%;
}

.home__img3 {
  background-image: url("../images/home3.png");
  height: 180px;
  background-size: 100% 100%;
}

.home__img4 {
  background-image: url("../images/home4.png");
  height: 180px;
  background-size: 100% 100%;
}

.home__img5 {
  background-image: url("../images/home5.png");
  height: 180px;
  background-size: 100% 100%;
}

.home__img6 {
  background-image: url("../images/home6.png");
  height: 180px;
  background-size: 100% 100%;
}

.home__img7 {
  background-image: url("../images/home7.png");
  height: 180px;
  background-size: 100% 100%;
}

.home__img8 {
  background-image: url("../images/home8.png");
  height: 180px;
  background-size: 100% 100%;
}

.home__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.info1 {
  margin: 5px 0px;
  font-size: 15px;
  color: gray;
}

.info2 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(60, 60, 60);
}

.star {
  font-size: 15px;
  color: rgb(30, 120, 110);
  font-weight: 800;
}

.count,
.type {
  font-size: 15px;
}
